# Ignore build assets
/public/css/
/public/js/
/public/vendor/livewire/
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/css/
/public/js/
/public/vendor/livewire/
storage/fonts/*.ttf
storage/fonts/*.ufm
storage/fonts/*.ufm.json
storage/fonts/*.afm.json