{
  frankenphp
  # yang benar:
  order cgi-php before file_server
}

puslah.bpsdemak.com {
  root * /app/public

  encode zstd br gzip

  # Pastikan ini dieksekusi sebelum file_server
  php_server

}
